html {
    background-color: rgb(96, 86, 174);
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.header {
    display: flex;
    flex-direction: row;
    
}
.header__logo {
    width: 50px;
    height: auto;
}
.account__name {
    color: #fff;
    
}
.welcome {
}
.name {
}
.account__logo {
}
.cotainer {
    display: flex;
    flex-direction: column;
    
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(56, 46, 135);
}
.contacts {
}