@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Caprasimo&family=DM+Sans:wght@700&family=Open+Sans&family=Oswald:wght@200;300&family=Roboto&display=swap');
html {
    background-color: rgb(96, 86, 174);
    color: #fff;
    font-family: 'Amatic SC', sans-serif;
font-family: 'Caprasimo', serif;
font-family: 'DM Sans', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    border-radius: 10px;
    padding-top: 20px;
    background-color: rgb(152, 146, 225);
    flex-direction: column;
    margin: 50px auto;
    text-align: center;
    font-size: 40px;   
}

.input {
    width: 80%;
    height: 50px;
    font-size: 25px;;
    margin: 30px auto;
    margin-top: 15px;
    border-radius: 25px;
    padding-left: 15px;
}

a.lostpas {
    color: #fff;
    
}

.loginBtn {
    width: 80%;
    height: 60px;
    margin: 50px auto;
    border-radius: 10px;
    background-color: #fff;
    font-size: 30px;
}